{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "LaunchBar": "readonly"
  },
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": [],
  "rules": {
    "prefer-const": "error"
  },
  "overrides": [
    {
      "files": ["**/*.test.js"],
      "rules": {
        "no-unused-expressions": "warn"
      }
    }
  ]
}
